:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
  height:100%;
  box-sizing: border-box;
}
main{
  padding-top: 50px;
  padding-bottom: 50px;
}

input,
textarea,
button {
	all: unset;
	box-sizing: border-box;
}
